@mixin flex_center{
  display:flex;
  align-items:center;
  justify-content:center;
}

@mixin text_button{
  text-decoration:none;
  padding:0;
  margin:0;
  background-color:transparent;
  border:none;
}
